@font-face {
    font-family: "MonaspaceNeon";
    src: url("/assets/fonts/MonaspaceNeon.ttf");
}

@font-face {
    font-family: "QTAvanti";
    src: url("/assets/fonts/QTAvanti.otf");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "LiberationSans";
    src: url("/assets/fonts/LiberationSans-Regular.ttf");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "LiberationSans";
    src: url("/assets/fonts/LiberationSans-Bold.ttf");
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: "LiberationSans";
    src: url("/assets/fonts/LiberationSans-Italic.ttf");
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: "LiberationSans";
    src: url("/assets/fonts/LiberationSans-BoldItalic.ttf");
    font-weight: bold;
    font-style: italic;
}

:root[data-theme="light"] {
    --callout-info-background-color: #EAF9F6FF;
    --sky-primary: #458F94;
    --sky-primary-dark: #316468;
    --sky-primary-light: #ceebec;
    --sidebar-link-active-bg: #e2f2f2;
    --sidebar-bg: #fbfbfb;
    --code-bg: #dbeeef;
    --font-family-sans: "LiberationSans", sans-serif;
    --font-family-mono: "MonaspaceNeon", monospace;
}

.margin-top-minus {
    margin-top: -20px;
}

code, pre {
    font-size: 10pt;
}

.main-title {
    font-family: "QTAvanti", sans-serif;
    font-weight: 500;
    color: #458F94;
}

.sub-title {
    font-family: "QTAvanti", sans-serif;
    font-weight: 500;
}

.callout-info {
    background-color: var(--callout-info-background-color);
    border-radius: 2px;
}

.features-container {
    display: grid;
    grid-template-columns: 50% 50%;
    column-gap: 15px;
    row-gap: 40px;
    padding-bottom: 20px;
    padding-top: 10px;
}

.feature-header {
    display: flex;
    gap: 10px;
    margin-bottom: 8px;
}

.features-container hr {
    margin-left: 20%;
    margin-right: 20%;
    margin-top: 20px;
    margin-bottom: 20px;
}

.centering-container {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.centering-container video {
    border-radius: 10px;
}

.content-area {
    max-width: 1200px;
}

.center-text {
    text-align: center;
}

.sidebar nav li a {
    padding: 5px 10px;
    transition: none;
    /* fix: */
    display: flex;
    align-items: center;
    justify-content: start;
}

/* hide the ribbon */
.sidebar nav li.active-parent > a::before {
    opacity: 0;
}

.sidebar nav li.active-parent > a {
    font-weight: 600;
}

.sidebar nav .collapse-icon {
    transition: none;
}

.copy-code-button {
    transition: none;
}
